﻿@using FormMethod = Microsoft.AspNetCore.Mvc.Rendering.FormMethod
<script type="text/javascript">function departmentChecked() {
        var departmentCheckbox = document.getElementById('department');
        var department = document.getElementById('department_block');
        if (departmentCheckbox.checked) {
            department.style.display = "block";
        } else {
            department.style.display = "none";
        }
}
function branchChecked() {
        var branchCheckbox = document.getElementById('branch');
        var branch = document.getElementById('branch_block');

        if (branchCheckbox.checked) {
            branch.style.display = "block";
        } else {
            branch.style.display = "none";
        }
}</script>
<h1 class="form-group" style="margin-left: 10%">Widget configurator</h1>
<h2 class="form-group" style="margin-left: 10%">Check what is needed:</h2>
@using (Html.BeginForm("Get", "DemoWidget", FormMethod.Get, new { @class = "form-group" }))
{
    <div style="margin-left: 10%">
        <label>User token:</label>
        <br />
        <input type="text" name="user_token" />
        <br />
        <label>Departments:</label>
        <br />
        <input type="checkbox" name="args[0].Key" value="department" id="department" onchange="departmentChecked()" />
        <div style="display: none" id="department_block">
            <br />
            <br />
            <label>Check department: </label>
            <br/>
            <select name="args[0].Value" id="department_select">
                <option value="" selected>All</option>
                <option value="9">Account Management</option>
                <option value="15">Accounting</option>
                <option value="4">Administration</option>
                <option value="8">Business Process Outsourcing</option>
                <option value="3">Development</option>
                <option value="10">Finances</option>
                <option value="13">HR</option>
                <option value="12">IT</option>
                <option value="6">Management UA</option>
                <option value="16">Management US</option>
                <option value="7">Marketing</option>
                <option value="1">Production</option>
                <option value="2">Project Management Office </option>
                <option value="18">Proposal</option>
                <option value="5">QA</option>
                <option value="11">R&amp;D</option>
                <option value="14">Recruitment</option>
                <option value="17">Sales</option>
            </select>
        </div>
        <br />
        <label>Branches:</label>
        <br />
        <input type="checkbox" name="args[1].Key" value="branch" id="branch" onchange="branchChecked()" />
        <br />
        <div style="display: none" id="branch_block">
            <br />
            <label>Check branch:</label>
            <br />
            <select name="args[1].Value" id="branch_select">
                <option value="" selected>All</option>
                <option value="3">Cherkasy</option>
                <option value="2">Ivano-Frankivsk</option>
                <option value="4">Khmelnytskyy</option>
                <option value="10">Kyiv</option>
                <option value="5">Lutsk</option>
                <option value="1">Lviv</option>
                <option value="7">New York</option>
                <option value="6">Poltava</option>
                <option value="8">Vinnytsia</option>
                <option value="9">Wroclaw</option>
            </select>
        </div>
        <input type="submit" value="Configure" />
    </div>
}