﻿@{
    ViewBag.Title = "Widget content";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script>
    $(document).ready(function () {
        var json = @Json.Serialize(Model.Value);
        var tr;
        //Append each row to html table
        for (var i = 0; i < json.length; i++) {
            tr = $('<tr/>');
            tr.append("<td>" + json[i].firstName + "</td>");
            tr.append("<td>" + json[i].lastName + "</td>");
            tr.append("<td>" + json[i].birthday + "</td>");
            tr.append("<td>" + json[i].department.departmentName + "</td>");
            tr.append("<td>" + json[i].branch.branchName + "</td>");
            $('table').append(tr);
        }
    });
</script>
<h1 style="text-align: center;">Widget content</h1>
<table class="table table-bordered table-responsive table-hover table-striped">
    <tr>
        <th>First Name </th>
        <th>Last Name </th>
        <th>Birthday</th>
        <th>Department</th>
        <th>Branch</th>
    </tr>
</table>  